a:hover{
  color: white;
}
body{
  padding-top: 2rem;
  margin: 0;
  padding: 0;
  border-color: black;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.spinner-grow{
  height: 3rem;
  width: 3rem
}
.alertMain{
  position: fixed;
z-index: 100;
width: 100vw;
}
.alert{
  padding-top: 1rem;
  opacity: 0.8;
  /* background-color: rgba(208, 208, 208, 0.648); */
}
::-webkit-scrollbar {
  width: 20px;
}
.navbtn{
  position: absolute;
  display: none;
  top:10px;
  left: 10px;
  z-index: 6;
  background-color: transparent;
  border: none
 
}

/* boostrap icons  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@700&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Maven+Pro:wght@600&family=Noto+Sans&display=swap');

.background{
  /* background-image: url(./Images/cover.jpg); */
  background-color: black;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}
.background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(15px);
}
hr{
  border-top:4px solid white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sideBar{
  
  height: 100vh;
  width: 20vw;
  position: fixed;
  /* padding: 2rem; */
  /* border: 2px solid red; */
  color: azure;
  font-family: 'Poppins', sans-serif;
  
}
.userandlogin{
  text-align: center;
  /* margin-left: 1.5rem; */
  display: flex;
  flex-direction: column;
}
.darkback{
  /* border: 3px solid green; */
  height: 100%;
  width: inherit;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  z-index: -1;
}
.sideBarMain{
  position: fixed;
}
.sideBar li i{
  margin-right: 1rem;
}
.sideBar ul li a:hover{
  color: white;
}
.sideBar ul li:hover{
  transform: scale(1.1);
}
.logoutbtn{
  text-align: start;
  background-color: transparent;
  border: none;
  color: white;
}
a{
  text-decoration: none;
  color: azure;
}
li{
  margin: 2rem 0rem;
  list-style: none;
}
.responsive{
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100vw);
}
.navBarContent{
  width: 80vw;
 /* border: 2px solid red; */
}
.navBarContent ul li{
  text-align: center;
  font-size: 1.5rem;
}
.navBarContent h2{
  text-align: center;
  font-size: 2rem
}
.navBarContent button{
  background-color: transparent;
  border: none;
  color: white;
}
/* ____________HomePage_____________ */

.home{
  margin-left: 20vw;
  width: 78vw;
  height: 100vh;
  /* border: 2px solid red; */
  padding: 1rem 2rem;
  /* padding-top: 2rem; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home h1{
  font-family: 'Maven Pro', sans-serif;
}
.username{
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
.username h3{
  margin:0
}
.username a{
  display: none;
}
.userAvatar{
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.2rem 0.8rem;
  text-align: center;
  background-color: white;
}

.searchBar{
  height: 2rem;
  width: 40vw; 
  /* border : 2px solid white; */
  border: none;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  align-items: center;
  padding-left: 1rem;
}
.searchBarDiv{
  display: flex;
  justify-content: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.carousel{
  margin-top: 1rem;
  width: 100%;
}

.carousel-item img{
  width: 90%;
  height: 75vh;
}
.trending,.genres{
  text-align: center;
  padding: 40px;
  margin-left: 20vw;
  color: white;
  flex-wrap: wrap;
 
}
 .Trendcard{

  text-align: end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0.5rem 1rem;
  height: 35vh;
  width: 10rem;
  /* border-radius: 1rem; */
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  z-index: 0;
  display: flex;
  flex-direction: column;

}
.likebtn{
  text-align: end;
  background-color: transparent;
  border: none;

}

.Trendcard a{
  height: 80%;
}
.click{
  height: 80%;
  width: 100%;
  pointer-events: none;
  /* border: 2px solid white; */
}
.Trendcard:hover{
  background-size: 110% 110%;
  background-position: center;
}
.trendContainer{
  overflow-x: scroll;
}
.viewAll{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
  padding: 0;
}

.trendingMain,.genresMain,.genreWise,.movieDetails,.searchResults,.loginMain,.favouritesMain{
  text-align: center;
  margin-left: 20vw;
  padding: 40px;
  
  
}
.trend-container{
  width: 100% !important;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

.genreContainer{
    overflow-x: scroll ;
}
.viewAll a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prevNext button{
  background:none;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  border: 2px solid white;
}
.dropdown > .btn{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
  /* border-radius: 2rem; */
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.genreCard{
  background-color: rgba(255, 255, 255, 0.3);
  background-size: 100% 100%;
  height: 35vh;
  width: 10rem;
  padding: 0;
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.details{
  margin-top: 0.5rem;
}
.backdrop{
  width: 100%;
  height: 80vh;
}

/* login CSS start  */
.loginMain{
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.loginDiv{
  margin: auto;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  font-family: 'Maven Pro', sans-serif;
  padding: 3rem 2rem;
  text-align: left;
  border: 2px solid white;
}
.colorblue{
  color: rgb(67, 0, 139);
}
.colorgrey{
  color: rgb(69, 69, 69);
}
.formInput{
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: 2px solid black;
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}
.checkBox{
  margin-top: 1rem;
  border: 1px solid black;
}
.loginSignup{
  width: 100%;
}
.loginSignup button{
  width: 48%;
  height: 2.5rem;
  border-radius: 4px;
  border: 2px solid rgb(67, 0, 139);
}
.login{
  background-color: rgb(67, 0, 139);
  color: white;
}
.signup{
  color: rgb(67, 0, 139);
}


/* login css ends  */


.genresMainCard{
  margin: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 15rem;
}
.genresMainCard:hover{
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}
.genresMainInner{
  flex-wrap: wrap;
}
.castCard{
  height: 30vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: -1;
  padding: 0;
  /* background-size: 80% 80%; */
}
.castText{
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.499);
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  padding: 0.5rem 0rem;
}
/* favourites page css starts */
.favouritesMain{
  color: white;
  font-family: 'Maven Pro', sans-serif;
}
/* favourite page css ends  */

@media only screen and (max-width: 1300px) {
  .genresMainCard{
    margin: 1rem 0.1rem;
    font-size: 1.5rem;
  }
  .loginDiv{
    width: 50vw;
  }
}

  
  

@media only screen and (max-width: 870px) {
  .genreCard{
    height: 40vh;
    width: 16rem;
  }
  .carousel-item img{
    width: 90%;
    height: 60vh;
  }
  .backdrop{
    width: 100%;
    height: 60vh;
  }
}


.movieDetails{
  text-align: left;
  overflow-x: hidden;
}
.movieDetails h1{
  font-family: 'Maven Pro', sans-serif;
}
.genreTagDiv{
  display: flex;
  flex-wrap: wrap;
}
.genreTag{
  display: flex;
  align-items: center;
  height: 2rem;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.5rem;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.genretag{
  flex-wrap: wrap;
}
.movieImgText{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
}
.movieDetailsInner{
  background-color: rgba(0, 0, 0, 0.6);
}
.movieImageInnerLeft img{
  height: 20rem;
  width: 15rem;
}
.movieDetailsText{
  padding: 1rem;
  /* border: 2px solid red; */
  color: white;
}
.trailerDiv{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailerDiv > div{
  width: 100% !important;
  height: 75vh !important;
}

.heading{
  /* margin-left: 1rem; */
  font-weight: 600;
}
.avatar img{
  height: 50px;
  width: 50px;
  border-radius: 2rem;
}
.movieDetailReview{
  padding: 1rem;
}
.reviewContainer{
  border: 2px solid white;
  margin: 1rem;
  padding: 1rem;
  color: white;
}

.avatarAndUsername{
  display: flex;
  height: 50px;
}
@media only screen and ( max-width: 1069px) {
  .genresMainCard{
    width: 20rem;
  }
  .movieImgText{
    flex-direction:column;
  }
  .movieImageInnerLeft{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sideBar > *{
    width: 0vw;
    display: none;
  }
  .trending,.genres,.home,.trendingMain,.movieDetails,.genresMain,.genreWise,.searchResults,.loginMain,.favouritesMain{
    padding: 10px;
    margin-left: 0vw;
   
  }
 
  .home{
    margin: auto;
    width: auto;
    height: auto;
    padding: 10px;
  }
  .username a{
    display: block;
  }
  .navbtn{
  position: fixed;
  display: block;
  top:10px;
  left: 10px
}
.Trendcard,.genreCard{
  height: 35vh;
  width: 10rem;
  min-width: 6rem;
  margin: 0.5rem;
  font-size: 1rem;
}
.searchBarDiv{
  margin-top: 3rem;
}
.movieDetails{
  padding-top: 3rem;
}
.searchBar{
  width: 75vw;
}
.trailerDiv > div{
  width: 100% !important;
  height: 50vh !important;
}
.loginDiv{
  width: 60vw;
  
}

}
@media only screen and (max-width: 570px) {
  .carousel-item img{
    height: 40vh;
  }
  .trend-container{
    justify-content: space-around;
  }
  .trailerDiv > div{
    width: 100% !important;
    height: 30vh !important;
  }
  .Trendcard,.castCard{
    height: 23vh;
    width:7rem;
    
  }
  .genreCard{
    height: 25vh;
    width: 9rem;
  }
  .backdrop{
    width: 100%;
    height: 40vh;
  }
  .movieDetailsText,.trailerDiv{
    padding: 0.5rem;
  }
  .movieDetailReview{
    padding: 0.25rem;
  }
  .movieImageInnerLeft img {
    width: 12rem;
  }
  .movieImgText{
    padding: 0.25rem;
    padding-top: 1rem;

}
.reviewContainer{
  padding: 0.4rem;
}
.review{
  font-size: 0.8rem;
}
.castText{
  font-size: 0.5rem;
}
.movieDetailsText{
  font-size: 0.8rem;
}
.loginMain{
  overflow-y: hidden;
}
.loginDiv{
  width: 80vw;
  
}
.userAvatar{
  font-size: 0.8rem;
  padding: 0.1rem 0.6rem;
}
.username h3{
  font-size: 1rem;
  margin: 0;
}
}
@media only screen and (max-width: 500px){
  .Trendcard,.genreCard,.castCard{
    height: 35vh;
    width:12rem;
    
  }
}
@media only screen and (max-width: 462px){
  .Trendcard,.genreCard,.castCard{
    height: 33vh;
    width:11rem;
    
  }
}
@media only screen and (max-width: 435px){
  .Trendcard,.castCard{
    height: 30vh;
    width:10rem;
    
  }
  .genreCard{
    height: 30vh;
    width: 10rem;
  }
}
@media only screen and (max-width: 398px){
  .Trendcard,.castCard{
    height: 25vh;
    width:8rem;  
  }
  .genreCard{
    height: 25vh;
    width: 8rem;
  }
}
@media only screen and (max-width: 333px){
  .Trendcard,.genreCard,.castCard{
    height: 22vh;
    width:7rem;
    
  }
}
@media only screen and (max-width: 300px){
  .Trendcard,.genreCard,.castCard{
    height: 35vh;
    width:80vw;
    
  }
}